body {
	margin: 0;
	padding: 0;
	font-family: 'Mukta', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
}

.login-wrapper {
	background-color: #F6F8FA;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	.form-card {
		background: white;
		flex: .25;
    padding: 20px;
    border-radius: 3px;
		justify-content: center;
		box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
		.form-input {
			padding: 10px 0 10px 0;
			width: 100%;
		}
	}
}
.blue-anchor-link {
	color: rgb(0, 153, 255);
  cursor: pointer;
  margin: 0 5px 0 5px;
}
