.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2%;

    .question-numbers{
        display: flex;
        width: 50%;
        align-self: center;
        justify-content: flex-end;
        .quest-number{
            background-color: rgb(57, 17, 235);
            padding: 0.5%;
            border-radius: 50%;
            width: 30px;
            height:30px;
            border: 1px solid red;
            vertical-align: -webkit-baseline-middle;
            text-align: center;
            vertical-align: middle;
        }
        .current-quest-number{
            background-color: rgba(13, 241, 62, 0.932);
            padding: 0.5%;
            border-radius: 50%;
            width: 30px;
            height:30px;
            border: 1px solid red;
            text-align: center;
            vertical-align: middle;
        }
    }
	.question-container {
        background-color: rgba(58, 17, 82, 0.295);
        justify-content: center;
        width: 50%;
        align-self: center;
        padding: 1%;
        margin-bottom: 5%;

		.question-label {
            justify-content: center;
            display: flex;
            margin-bottom: 3%;
        }

        .answer-options{
            display: flex;
            flex: 1;
            flex-direction: row;
            justify-content: space-around;
            .answer-selected{
                background-color: rgba(13, 241, 62, 0.932);
            }
            .answer{
                background-color: rgba(58, 17, 82, 0.295);
            }
        }
    }
    .prev-next{
        display: flex;
        flex: 1;
        flex-direction: row;
        width: 50%;
        justify-content: space-evenly;
        align-self: center;
    }
}